$background-color: White;

body {
    background-color: $background-color;
}

main#detail {
    display: block;

    .card {
        max-width: 350px;
        margin: auto;

        &.no-blur * {
            filter: none;
        }

        h2 {
            font-size: 2rem;
            padding-bottom: 5px;
        }

        div.types {
            margin-top: 1cm;

            span {
                padding: 5px 10px;
                color: White;
                border-radius: 5px;
            }
        }
    }
}




